In [22]:
import numpy as np
import pandas as pd
import gzip
import csv
import json
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [14]:
#Detailed calendar data for Nevada until December 31, 2019

df = pd.read_csv('C:\\Users\\Rose\\Desktop\\Capstone2\\thedata\\calendar_detailed.csv.gz')
df

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3979,2019-06-25,f,$60.00,$60.00,1,365
1,3979,2019-06-26,f,$60.00,$60.00,1,365
2,3979,2019-06-27,f,$60.00,$60.00,1,365
3,3979,2019-06-28,f,$60.00,$60.00,1,365
4,3979,2019-06-29,f,$60.00,$60.00,1,365
...,...,...,...,...,...,...,...
3419680,35798130,2020-06-19,t,$350.00,$350.00,1,1125
3419681,35798130,2020-06-20,t,$350.00,$350.00,1,1125
3419682,35798130,2020-06-21,t,$300.00,$300.00,1,1125
3419683,35798130,2020-06-22,t,$300.00,$300.00,1,1125
3419684,35798130,2020-06-23,t,$300.00,$300.00,1,1125

In [15]:
df.shape

(3419685, 7)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3419685 entries, 0 to 3419684
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  int64
 6   maximum_nights  int64
dtypes: int64(3), object(4)
memory usage: 182.6+ MB

In [17]:
df.dtypes

listing_id         int64
date              object
available         object
price             object
adjusted_price    object
minimum_nights     int64
maximum_nights     int64
dtype: object

In [18]:
df.columns

Index(['listing_id', 'date', 'available', 'price', 'adjusted_price',
       'minimum_nights', 'maximum_nights'],
      dtype='object')

In [19]:
# Saving to copy for safety
cad = df.copy()

Filtering it out for 2019 data

In [20]:
cad.dtypes

listing_id         int64
date              object
available         object
price             object
adjusted_price    object
minimum_nights     int64
maximum_nights     int64
dtype: object

In [21]:
cad.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3979,2019-06-25,f,$60.00,$60.00,1,365
1,3979,2019-06-26,f,$60.00,$60.00,1,365
2,3979,2019-06-27,f,$60.00,$60.00,1,365
3,3979,2019-06-28,f,$60.00,$60.00,1,365
4,3979,2019-06-29,f,$60.00,$60.00,1,365

In [11]:
date = cad['date']
date = date.str.strip()
date = date.str.rsplit(' ',2,expand=True)
date.head()
date = date.rename(columns={0:'address',1:'state',2:'zipcode'})

In [ ]:
year.head()
address = address.rename(columns={0:'address',1:'state',2:'zipcode'})
address

Don't run below yet it was a test on datetime function

In [10]:
cad['date'] = pd.to_datetime(cad.date)

In [12]:
cad[(cad['date']>=datetime.datetime(2019,1,1))]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2234029,2019-12-31,f,$140.00,$140.00,30,1125
1,948041,2019-12-31,f,$60.00,$60.00,31,1096
2,948041,2020-01-01,f,$65.00,$65.00,31,1096
3,948041,2020-01-02,f,$65.00,$65.00,31,1096
4,948041,2020-01-03,f,$65.00,$65.00,31,1096
...,...,...,...,...,...,...,...
3977035,39896044,2020-12-25,f,$58.00,$58.00,30,180
3977036,39896044,2020-12-26,f,$58.00,$58.00,30,180
3977037,39896044,2020-12-27,f,$58.00,$58.00,30,180
3977038,39896044,2020-12-28,f,$58.00,$58.00,30,180
3977039,39896044,2020-12-29,f,$58.00,$58.00,30,180