In [15]:
import numpy as np
import pandas as pd
import gzip
import csv
import json
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [16]:
#Detailed calendar data for Nevada until December 31, 2019

df = pd.read_csv('C:\\Users\\Rose\\Desktop\\Capstone2\\thedata\\dec31calendar.csv.gz')
df

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2234029,2019-12-31,f,$140.00,$140.00,30,1125
1,948041,2019-12-31,f,$60.00,$60.00,31,1096
2,948041,2020-01-01,f,$65.00,$65.00,31,1096
3,948041,2020-01-02,f,$65.00,$65.00,31,1096
4,948041,2020-01-03,f,$65.00,$65.00,31,1096
...,...,...,...,...,...,...,...
3977035,39896044,2020-12-25,f,$58.00,$58.00,30,180
3977036,39896044,2020-12-26,f,$58.00,$58.00,30,180
3977037,39896044,2020-12-27,f,$58.00,$58.00,30,180
3977038,39896044,2020-12-28,f,$58.00,$58.00,30,180
3977039,39896044,2020-12-29,f,$58.00,$58.00,30,180

In [3]:
#to visualize the data better on excel and then work on pandas
df.to_csv('dec31detailedcalendar.csv')

In [17]:
df.info

<bound method DataFrame.info of          listing_id        date available    price adjusted_price  \
0           2234029  2019-12-31         f  $140.00        $140.00
1            948041  2019-12-31         f   $60.00         $60.00
2            948041  2020-01-01         f   $65.00         $65.00
3            948041  2020-01-02         f   $65.00         $65.00
4            948041  2020-01-03         f   $65.00         $65.00
...             ...         ...       ...      ...            ...
3977035    39896044  2020-12-25         f   $58.00         $58.00
3977036    39896044  2020-12-26         f   $58.00         $58.00
3977037    39896044  2020-12-27         f   $58.00         $58.00
3977038    39896044  2020-12-28         f   $58.00         $58.00
3977039    39896044  2020-12-29         f   $58.00         $58.00

         minimum_nights  maximum_nights
0                    30            1125
1                    31            1096
2                    31            1096
3                    31            1096
4                    31            1096
...                 ...             ...
3977035              30             180
3977036              30             180
3977037              30             180
3977038              30             180
3977039              30             180

[3977040 rows x 7 columns]>

In [5]:
df.shape

(3977040, 7)

In [6]:
df.dtypes

listing_id         int64
date              object
available         object
price             object
adjusted_price    object
minimum_nights     int64
maximum_nights     int64
dtype: object

In [7]:
# Saving to copy for safety
cad = df.copy()

Filtering it out for 2019

In [9]:
cad.dtypes

listing_id         int64
date              object
available         object
price             object
adjusted_price    object
minimum_nights     int64
maximum_nights     int64
dtype: object

In [10]:
cad['date'] = pd.to_datetime(cad.date)

In [12]:
cad[(cad['date']>=datetime.datetime(2019,1,1))]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2234029,2019-12-31,f,$140.00,$140.00,30,1125
1,948041,2019-12-31,f,$60.00,$60.00,31,1096
2,948041,2020-01-01,f,$65.00,$65.00,31,1096
3,948041,2020-01-02,f,$65.00,$65.00,31,1096
4,948041,2020-01-03,f,$65.00,$65.00,31,1096
...,...,...,...,...,...,...,...
3977035,39896044,2020-12-25,f,$58.00,$58.00,30,180
3977036,39896044,2020-12-26,f,$58.00,$58.00,30,180
3977037,39896044,2020-12-27,f,$58.00,$58.00,30,180
3977038,39896044,2020-12-28,f,$58.00,$58.00,30,180
3977039,39896044,2020-12-29,f,$58.00,$58.00,30,180